pyqt5
pyopengl
openai
huggingface-hub
fastapi
uvicorn[standard]
torch
transformers
sentence-transformers
langchain
langchain-community
langchain-huggingface
faiss-cpu
unstructured
pdfminer.six
pi-heif
unstructured_inference
pdf2image
pytesseract
python-docx
docx
live2d-py